body {
    line-height: 2;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
body {
    line-height: 2;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
    